html {
  scroll-behavior: smooth;
}
* {
 box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px; /* Base font size */
}

a{
  color: #f9f9f9;
  text-decoration: none;

}

/* Mobile-first responsive design */
@media only screen and (min-width: 480px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 20000px;
  }
}