@font-face {
  font-family: 'Jester';
  src: url('./fonts/Jester.ttf') format('truetype'); /* Path relative to public/fonts.css */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bastliga One';
  src: url('./fonts/Bastliga One.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Angelos';
  src: url('./fonts/Angelos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 